/* src/assets/base.css */
:root {
  --primary-color: #0b2f9f;
  --secondary-color: #98ded9;
  --background-color: #01053a;
  --text-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --gold-color: #d8b700;
  --black-color: #000;
  --white-color: #fff;
  --cyan-color: #00c5cc;
  --purple-color: #481e96;
  --gray-color: #282828;
  --border-radius: 0.25rem;
  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
