@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  position: relative;
  width: 100%; /* Changed from min-width: 100vw */
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--text-color);
  background: radial-gradient(circle, var(--black-color) 60%, var(--background-color) 100%);
  transition:
    background 0.5s,
    background-color 0.5s,
    color 0.5s;
  animation: beatingBackground 5s infinite ease-in-out alternate;
}

/* Ensure all elements use border-box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Ensure all direct children of #app don't exceed its width */
/* #app > * {
  max-width: 100%;
} */

/* to debug layout size issues by adding a red outline to all elements */
/* * {
  outline: 1px solid red !important;
} */

a {
  position: relative;
  color: var(--gold-color);
  text-decoration: none;
  transition: var(--transition-duration);
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--gold-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--gold-color);
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}