@import './base.css';

#app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  background: radial-gradient(circle, var(--black-color) 0%, var(--background-color) 100%);
  color: var(--text-color);
  transition:
    background-color 0.5s,
    color 0.5s;
}
